*:focus-visible
{
  box-shadow:none!important;
  outline:none !important;
}
.support-banner {
    position: relative;
}
.support-banner .banner-text {
    position: absolute;
    z-index: 2;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}
.support-banner .text-wrapper {
    padding: 0 15px;
}
.support-banner h2 {
    margin-bottom: 20px;
  font-size: 48px;
    font-weight: bold;
  letter-spacing: 0;
    text-transform: none;
}
.support-banner h5 {
font-size: 24px;
    font-weight: normal;
  letter-spacing: 0;
    text-transform: none;
}
.support-banner img
{
      width: 100%;
    height: auto;
}
.desk-img
{
  display:flex;
}
.mob-img
{
  display:none;
}
/* Tabs */
.tabs {
      margin: 0;
  width:100%;
}
ul#tabs-nav {
  list-style: none;


}
.bg-grey
{
      background: #f5f5f5;
}

ul#tabs-nav li {
  cursor: pointer;
  width:25%;
  text-align:center;
  padding:20px 20px 0 20px;
    
}
h5.tab-heading {
    margin-bottom: 20px;
  
    letter-spacing: 0;
    text-transform: none;
    font-size: 24px;
    line-height: 30px;
  min-height: 60px;

}
hr.hr {
       margin: 0 auto;
       width: calc(100% - 9vw);
  background: transparent;
    height: 2px;
}
ul#tabs-nav li.active hr.hr {
  background:black;
}
#tabs-nav li a {
  text-decoration: none;
  color: #FFF;
}
ul#tabs-nav:focus-visible {
    outline: none !important;
      outline-offset: 0 !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
ul#tabs-nav:hover {
    outline: none !important;
      outline-offset: 0 !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.flickity-prev-next-button {
    background: transparent !important;
    color: #0000007a !important;
}
.flickity-prev-next-button:hover {
    background: transparent !important;
}
.flickity-prev-next-button.next {
    right: 35px !important;
}
.flickity-prev-next-button.previous {
    left: 35px !important;
}
#tabs-content {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media only screen and (max-width:1230px)
  {
        .support-banner h2 {
        font-size: 38px;
    }
    .support-banner h5 {
    font-size: 26px;
}
  }
@media only screen and (max-width:1024px)
  {
   h5.tab-heading {
    font-size: 20px;
    line-height: 26px;
     min-height: 59px;
   }
  }
@media only screen and (max-width:991px)
  {
        .support-banner h2 {
        font-size: 28px;
    }
    .support-banner h5 {
    font-size: 18px;
}
  }
@media only screen and (max-width:767px)
  {
    h5.tab-heading
    {
      min-height:44px;
    }
    .support-banner img
    {
        height: 200px;
    }
	.tab-heading
    {
      font-size:14px !important;
      line-height:22px !important;
    }
    #tabs-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
    ul#tabs-nav li {
  width:33%;
    
}
   ul#tabs-nav li {
  padding:20px 10px 0 10px;
    
}
    .flickity-prev-next-button {
  width: 30px !important;
  height: 30px !important;
    }
    .flickity-prev-next-button.next {
    right: 0px !important;
}
.flickity-prev-next-button.previous {
    left: 0px !important;
}
    
    hr.hr {
       margin: 0 auto;
       width: calc(100% - 15vw);
    }
    
    .support-banner .banner-text {
      top:30px;
    left: 0;
    right: 0;
    text-align: center;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
    .desk-img
{
  display:none;
}
.mob-img
{
  display:flex;
}
    .support-banner h2 {
        font-size: 28px;
    }
    .support-banner h5 {
    font-size: 18px;
}
  }